*.txt
*.png
*~
*.pdf
*.jpeg
*.mp4
*.grd
*.gri
case*
path/**
path*
*CMakeFiles*
*.a
*.orig
out
Makefile
out/**
src/Makefile
src/cmake_install.cmake
config.xml
cmake_install.cmake
commands
*.o
*.so
*.csv
*os*