*.txt
*.png
*~
*.pdf
*.jpeg
*.mp4
*.grd
*.gri
case*
.*
path/**
path*
*CMakeFiles*
*.a
*.orig
VNrelation/**
BigCAT
DataStream
out
Makefile
out/**
src/Makefile
src/cmake_install.cmake
VNrelation
VNrelation_big/
VNrelation_small/
config.xml
cmake_install.cmake
commands
*.o
*.so
*.csv
*os*